<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/#hotel">Hotel</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/#event">Event</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="rsvp.html">RSVP</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
            <div class="col-md-4 text-muted small">
                {{ site.credits }}
            </div>
        </div>
    </div>
</footer>
