<!-- Page Content -->
{% for post in site.posts %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
  <section id="{{ post.title | downcase }}">
    {% if post.layout == 'columns' %}
      {% include column_content.html %}
    {% elsif post.layout == 'map' %}
      {% include map_content.html %}
    {% else %}
      {% if thecycle == 'odd' %}
          {% include content_a.html %}
      {% else %}
          {% include content_b.html %}
      {% endif %}
    {% endif %}
  </section>
{% endfor %}
